ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://0.0.0.0:${PORT}

ConnectionStrings__AuditoriaDb=Host=<host>;Port=5432;Database=ms_auditoria_db;Username=<user>;Password=<password>;SSL Mode=Require;Trust Server Certificate=true
ConnectionStrings__DefaultConnection=Host=<host>;Port=5432;Database=ms_auditoria_db;Username=<user>;Password=<password>;SSL Mode=Require;Trust Server Certificate=true

RabbitMq__Host=
RabbitMq__User=
RabbitMq__Password=
