ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://0.0.0.0:${PORT}

ConnectionStrings__AtraccionesDb=Host=<host>;Port=5432;Database=ms_atracciones_db;Username=<user>;Password=<password>;SSL Mode=Require;Trust Server Certificate=true
ConnectionStrings__DefaultConnection=Host=<host>;Port=5432;Database=ms_atracciones_db;Username=<user>;Password=<password>;SSL Mode=Require;Trust Server Certificate=true

RabbitMq__Host=
RabbitMq__User=
RabbitMq__Password=

RabbitMqV3__Enabled=false
RabbitMqV3__Uri=
RabbitMqV3__UseTls=false
RabbitMqV3__Host=localhost
RabbitMqV3__Port=5672
RabbitMqV3__User=traveldreams
RabbitMqV3__Password=traveldreams123
RabbitMqV3__VirtualHost=/
RabbitMqV3__ExchangeName=traveldreams.marketplace.v3.events
RabbitMqV3__AuditoriaQueueName=q.v3.auditoria
RabbitMqV3__AtraccionesDebugQueueName=q.v3.atracciones.debug
RabbitMqV3__DeadLetterQueueName=q.v3.deadletter
