ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://0.0.0.0:${PORT}

ConnectionStrings__FacturacionDb=Host=<host>;Port=5432;Database=ms_facturacion_db;Username=<user>;Password=<password>;SSL Mode=Require;Trust Server Certificate=true
ConnectionStrings__DefaultConnection=Host=<host>;Port=5432;Database=ms_facturacion_db;Username=<user>;Password=<password>;SSL Mode=Require;Trust Server Certificate=true

Services__ReservasGrpcUrl=<ms-reservas-url>
Services__ReservasUrl=<ms-reservas-url>

RabbitMq__Host=
RabbitMq__User=
RabbitMq__Password=
