ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://0.0.0.0:${PORT}

ConnectionStrings__IdentidadDb=Host=<host>;Port=5432;Database=ms_identidad_db;Username=<user>;Password=<password>;SSL Mode=Require;Trust Server Certificate=true
ConnectionStrings__DefaultConnection=Host=<host>;Port=5432;Database=ms_identidad_db;Username=<user>;Password=<password>;SSL Mode=Require;Trust Server Certificate=true

JwtSettings__Issuer=TravelDreams
JwtSettings__Audience=TravelDreams.Clients
JwtSettings__SecretKey=<jwt-secret-min-32-chars>
JwtSettings__ExpirationMinutes=120

RabbitMq__Host=
RabbitMq__User=
RabbitMq__Password=
